{% include 'header.html'%}
<div class="container">
    <div class="row mt-4">
        <div class="col-6">
            <h1>{{newsDetails.news_title}}</h1>
            <p>{{newsDetails.news_desc | safe}}</p>
        </div>
        <div class="col-6">
        {% if newsDetails.news_img != NULL%}
            <img src="/media/{{newsDetails.news_img}}" class="img-fluid"/>
        </div>
        {% endif%}
    </div>
    
    {% comment %} <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %%}
            <lable>Value1</lable>
            <input type="text" name="value-1" value="{{value1}}" class="form-control mb-3" />
            <lable>Select Operator</lable>
            <select name="options" class="mb-3 form-control">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <lable>Value2</lable>
            <input type="text" name="value-2"  value="{{value2}}" class="form-control" />
            <button type="submit" class="btn mt-4 btn-primary">Calculate</button>
            <br>
            <lable>Output</lable>
            <input type="text" name="output" value="{{output}}" class="form-control" />
        </div>
    </div> {% endcomment %}
</div>